@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1126px;
  padding: 0 15px 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn__main {
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 147px;
  height: 50px;
  border-radius: 33px;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  font-weight: bold;
  font-size: 16px;
  line-height: 290%;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.btn__main:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 10px 2px #a90ed457;
          box-shadow: 0px 0px 10px 2px #a90ed457;
}

.btn__main:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.link {
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  color: #001a49;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 640px;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .nav {
    display: block;
  }
}

.nav__link a {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: #4f596a;
}

@media (max-width: 319.98px) {
  .nav__link a {
    font-size: 20px;
  }
}

.nav__link a:hover {
  color: #aa0ed4;
}

.nav__link-head a {
  font-weight: bold;
}

.nav__link-head a:hover {
  color: #4f596a;
}

.title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 46px;
  line-height: 122%;
  color: #001a49;
}

@media (max-width: 479.98px) {
  .title {
    font-size: 25px;
  }
}

.subtitle {
  font-family: Mulish;
  font-size: 20px;
  line-height: 150%;
  color: #4f596a;
}

@media (max-width: 479.98px) {
  .subtitle {
    font-size: 16px;
  }
}

.circle__purple {
  width: 288px;
  height: 288px;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  border-radius: 50%;
}

.circle__yellow {
  width: 88px;
  height: 88px;
  background: linear-gradient(35.71deg, #ffd7a9 9.11%, #ffae70 71.64%);
  border-radius: 50%;
}

.header {
  width: 100%;
  position: relative;
  height: 60px;
}

@media (max-width: 999.98px) {
  .header {
    background: linear-gradient(360.11deg, #cb10ff02 -12.25%, #a006ff81 88.63%);
    position: fixed;
    z-index: 10;
  }
}

.header .header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.header .header__content .content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header__content .content__links .content__header-logo {
  margin-right: 50px;
}

@media (max-width: 767.98px) {
  .header .header__content .header__link {
    display: none;
  }
}

.header .header__content .header__link:not(:last-child) {
  margin-right: 50px;
}

.header .header__content .header__link:hover {
  color: #aa0ed4;
}

.header .header__content .content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 999.98px) {
  .header .header__content .content__buttons {
    display: none;
  }
}

.burger__trigger {
  display: none;
}

@media (max-width: 999.98px) {
  .burger__trigger {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5%;
    bottom: 14%;
  }
  .burger__trigger:before {
    content: "";
    display: block;
    top: 0;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger__trigger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-top: 8px;
  }
  .burger__trigger:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .active {
    cursor: pointer;
    width: 25px;
    height: 25px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  .active:before {
    content: "";
    display: block;
    top: 0;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    margin-top: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .active span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-top: 12px;
    opacity: 0;
  }
  .active:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    margin-bottom: 13px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.burger__body {
  overflow: auto;
  width: 100%;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  background-color: rgba(233, 200, 241, 0.753);
  z-index: 10;
  position: absolute;
}

.burger__content {
  padding: 10px;
  padding-top: 20px;
}

.burger__content .nav__link a {
  color: black;
  font-size: 20px;
}

.burger__content .content__links {
  display: none;
  text-align: center;
  margin-bottom: 5%;
}

@media (max-width: 767.98px) {
  .burger__content .content__links {
    display: block;
  }
}

.burger__content .content__links .header__link {
  display: block;
  font-size: 20px;
  line-height: 30px;
}

.burger__content .content__links .header__link:not(:last-child) {
  margin-right: 4%;
}

.intro {
  position: relative;
  min-height: 100vh;
}

@media (max-width: 999.98px) {
  .intro {
    height: auto;
  }
}

.intro__content {
  padding-top: 134px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 767.98px) {
  .intro__content {
    display: block;
  }
}

.intro__block {
  max-width: 522px;
}

.intro__title {
  font-size: 60px;
  margin-bottom: 20px;
}

@media (max-width: 479.98px) {
  .intro__title {
    font-size: 25px;
  }
}

.intro__subtitle {
  margin-bottom: 40px;
}

.block__students {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__student-img:not(:last-child) {
  margin-right: -3%;
}

.block__students-text {
  margin-left: 5%;
  font-family: Mulish;
  font-size: 16px;
  line-height: 150%;
  padding-top: 3%;
  color: #4f596a;
}

.block__students-text span {
  color: #9f07ff;
}

.intro__video {
  width: 500px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0.5;
      flex-shrink: 0.5;
  margin-left: 90px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #001a49;
  -webkit-box-shadow: 0px 32px 44px #818a8c;
          box-shadow: 0px 32px 44px #818a8c;
  border-radius: 20px;
  z-index: 2;
}

@media (max-width: 999.98px) {
  .intro__video {
    height: 230px;
  }
}

@media (max-width: 767.98px) {
  .intro__video {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.intro__btn {
  position: relative;
  margin-top: 120px;
  width: 70px;
  height: 70px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
  border-radius: 50%;
}

.intro__btn span {
  display: block;
  position: absolute;
  top: 20px;
  left: 23px;
  font-size: 30px;
  -webkit-transform: scaleY(1.4);
          transform: scaleY(1.4);
  color: #001a49;
}

.intro__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.274);
          box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.274);
}

@media (max-width: 999.98px) {
  .intro__btn {
    margin-top: 80px;
  }
}

.intro__bg {
  position: absolute;
  width: 76%;
  background: #fbf2ff;
  border-radius: 0px 20px 20px 0px;
  height: 100%;
  z-index: -1;
}

@media (max-width: 999.98px) {
  .intro__bg {
    width: 100%;
    border-radius: 0px;
  }
}

.curse {
  position: relative;
}

.curse__data {
  position: relative;
  z-index: 3;
  margin-top: 13.8%;
  width: 100%;
  max-width: 1120px;
  height: 172px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border: 1px solid #e7eaeb;
  border-radius: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479.98px) {
  .curse__data {
    display: block;
    height: 100%;
  }
}

.data__column {
  width: 370px;
  height: 112px;
  border-left: 1px solid #e7eaeb;
  border-right: 1px solid #e7eaeb;
}

.data__column:first-child {
  border-left: 0px;
  border-right: 0px;
}

.data__column:last-child {
  border-right: 0px;
  border-left: 0px;
}

@media (max-width: 479.98px) {
  .data__column {
    width: 90%;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid #e7eaeb;
    border-bottom: 1px solid #e7eaeb;
    margin: 0 auto;
  }
  .data__column:first-child {
    border-top: 0px;
    border-bottom: 0px;
  }
  .data__column:last-child {
    border-top: 0px;
    border-bottom: 0px;
  }
}

.data__column-number {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 180%;
  text-align: center;
  color: #001a49;
}

.data__column-text {
  font-family: Mulish;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: normal;
  color: #4f596a;
}

.curse__title-block {
  max-width: 537px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 61px;
  text-align: center;
}

.curse__title-block .subtitle {
  margin-top: 4%;
}

.curse__topic {
  padding: 41px 54px 41px 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background: #fbf2ff;
  border-radius: 21px;
}

.curse__topic:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 767.98px) {
  .curse__topic {
    display: block;
  }
}

.curse__topic-logo {
  cursor: pointer;
}

.curse__topic-info {
  max-width: 500px;
}

.topic-info__title {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 100%;
  color: #001a49;
}

.topic-info__subtitle {
  font-size: 16px;
  line-height: 150%;
  color: #4f596a;
}

@media (max-width: 479.98px) {
  .topic-info__subtitle {
    margin-bottom: 15px;
  }
}

.curse__topic-duration {
  cursor: pointer;
  font-family: Mulish;
  width: 278px;
  height: 66px;
  border-radius: 33px;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  font-weight: 600;
  font-size: 16px;
  line-height: 400%;
  color: #ffffff;
  text-align: center;
  margin-left: 10%;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

@media (max-width: 1106px) {
  .curse__topic-duration {
    width: 240px;
    height: 50px;
    font-size: 14px;
    line-height: 350%;
    margin-top: 2%;
    margin-left: 95px;
  }
}

@media (max-width: 767.98px) {
  .curse__topic-duration {
    margin-left: 0;
  }
}

@media (max-width: 319.98px) {
  .curse__topic-duration {
    width: 180px;
  }
}

.curse__topic-duration:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 10px 2px #a90ed457;
          box-shadow: 0px 0px 10px 2px #a90ed457;
}

.curse__topic-duration span {
  display: inline-block;
  width: 1px;
  height: 30px;
  margin: 0 15% 0 15%;
  font-weight: normal;
  font-size: 25px;
  background: #8639b5;
  vertical-align: middle;
}

@media (max-width: 319.98px) {
  .curse__topic-duration span {
    margin: 0 5% 0 5%;
  }
}

.circle__purple-curse {
  position: absolute;
  top: 20px;
  left: -46px;
  z-index: -1;
}

.circle__yellow-curse-small {
  position: absolute;
  top: 220px;
  left: 156px;
  z-index: -1;
}

.circle__yellow-curse-big {
  position: absolute;
  width: 392px;
  height: 382px;
  top: 272px;
  right: -248px;
  z-index: -1;
}

.instructor {
  height: 622px;
  padding-top: 124px;
  padding-bottom: 116px;
}

@media (max-width: 999.98px) {
  .instructor {
    height: auto;
  }
}

.instructor__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 999.98px) {
  .instructor__content {
    display: block;
    padding: 0 0 0 10%;
  }
}

@media (max-width: 319.98px) {
  .instructor__content {
    padding: 0;
  }
}

.instructor__text-block {
  max-width: 515px;
}

.instructor__text-block .title {
  margin-bottom: 20px;
}

.instructor__logo-block {
  position: relative;
  width: 420px;
  height: 382px;
}

.circle__yellow-instructor {
  position: absolute;
  top: 40px;
  left: -25px;
  z-index: 1;
}

.circle__photo {
  width: 354px;
  height: 354px;
  position: absolute;
  overflow: hidden;
  top: 55px;
  cursor: pointer;
  z-index: 2;
}

.circle__photo:hover .logo-block__photo {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 479.98px) {
  .circle__photo {
    width: 270px;
    height: 270px;
  }
}

.logo-block__photo {
  position: absolute;
  top: 30px;
  left: 0px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

@media (max-width: 479.98px) {
  .logo-block__photo {
    left: -35px;
  }
}

.circle__under-photo {
  position: absolute;
  width: 132px;
  height: 132px;
  opacity: 0.3;
  bottom: -40px;
  right: 25px;
  z-index: 1;
}

@media (max-width: 479.98px) {
  .circle__under-photo {
    bottom: 0;
    right: 100px;
  }
}

.reviews {
  width: 100%;
  height: auto;
  padding-top: 120px;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #cd10ff 15.76%, #9f06ff 84.63%);
  padding-bottom: 10px;
}

.reviews__text-block {
  max-width: 560px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 100px;
}

.title__reviews {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.subtitle__reviews {
  text-align: center;
  color: #fff;
}

.slider__container {
  width: 550px;
  height: 330px;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  .slider__container {
    width: 440px;
    height: 280px;
  }
}

@media (max-width: 479.98px) {
  .slider__container {
    width: 300px;
    height: 380px;
  }
}

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 2s;
  transition: 2s;
}

.slider__slide {
  width: 100%;
}

.slider__content {
  padding: 0 10px 0 10px;
}

.slider__block {
  width: 530px;
  height: 100%;
  background: rgba(76, 0, 112, 0.195968);
  border-radius: 20px;
  padding: 50px 40px 40px 50px;
}

@media (max-width: 767.98px) {
  .slider__block {
    width: 420px;
    height: 280px;
  }
}

@media (max-width: 479.98px) {
  .slider__block {
    width: 400px;
    height: 280px;
  }
}

@media (max-width: 479.98px) {
  .slider__block {
    width: 280px;
    height: 380px;
  }
}

.slider__block-text {
  font-family: Mulish;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
  margin-bottom: 30px;
}

@media (max-width: 767.98px) {
  .slider__block-text {
    font-size: 15px;
  }
}

.slider__block-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.block-author-img {
  border-radius: 50%;
  margin-right: 14px;
  cursor: pointer;
  overflow: hidden;
}

.block-author-img img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.block-author-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.block-author-info {
  padding-top: 9px;
  line-height: 150%;
}

.block-author-info__name {
  font-weight: bold;
}

.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 300px;
  padding: 0 15px 0 15px;
}

.slider__button {
  font-size: 100px;
  background: none;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.486);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slider__button:hover {
  color: rgba(255, 255, 255, 0.753);
}

.slider__button:active {
  color: #9f06ff;
}

.questions {
  padding-top: 106px;
}

.title__questions {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 144px;
}

.qustions__spoilers {
  max-width: 850px;
  margin: 0 auto;
}

.spoilers__spoiler {
  max-width: 850px;
  height: auto;
  background-color: white;
  border-radius: 21px;
  border: 1px solid #f1ceff;
  padding: 20px 41px 35px 36px;
  margin-bottom: 20px;
}

.spoiler__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .spoiler__header {
    display: block;
  }
}

.spoiler__header .spoiler__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 7px;
}

.spoiler__trigger {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #ffd7a9;
  border-radius: 50%;
}

.arrow {
  display: block;
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  font-size: 40px;
  left: 15px;
  top: 5px;
  font-weight: bold;
  color: #cd10ff;
}

.spoiler__arrow-active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.spoiler__body {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.spoiler__body-active {
  max-height: 100%;
}

.spoiler__content {
  max-height: 350px;
  overflow-y: auto;
  -webkit-transition: max-height 0.5s linear;
  transition: max-height 0.5s linear;
}

.spoiler__content .spoiler__content-text {
  font-family: Mulish;
  font-size: 16px;
  line-height: 162%;
  padding-top: 10px;
  color: #4f596a;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.ready {
  height: 451px;
  position: relative;
}

.circle__yellow-ready {
  width: 123px;
  height: 123px;
  position: absolute;
  right: 20px;
  z-index: -1;
}

.circle__purple-ready {
  position: absolute;
  right: -150px;
  top: 0;
  z-index: -2;
}

.ready__block-text {
  max-width: 650px;
  margin: 0 auto;
  z-index: 3;
}

.ready__guarantee {
  font-family: Montserrat;
  max-width: 402px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2.57143px;
  text-transform: uppercase;
  color: #a106ff;
  background-color: #fff2e7;
  border-radius: 33px;
  margin-bottom: 50px;
}

.title__ready {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 479.98px) {
  .title__ready {
    font-size: 35px;
  }
}

.btn__ready {
  margin: 0 auto;
}

.footer {
  padding: 54px 0 66px 0;
  background: #fbf2ff;
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 767.98px) {
  .footer__email {
    display: block;
  }
}

.email__logo {
  margin-right: 80px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media (max-width: 767.98px) {
  .email__logo {
    margin-bottom: 20px;
  }
}

.email-input {
  width: 100%;
}

.email-input input {
  width: 100%;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #4f596a;
}

@media (max-width: 319.98px) {
  .email-input input {
    font-size: 12px;
  }
}

.email-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 860px;
  height: 66px;
  background: #ffffff;
  padding: 0 10px 0 40px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.0501257);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.0501257);
  border-radius: 33px;
}

@media (max-width: 767.98px) {
  .email-block {
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  .email-block {
    padding: 0 10px 0 10px;
  }
}

.btn__footer {
  margin: 0;
}

@media (max-width: 319.98px) {
  .btn__footer {
    width: 110px;
    height: 40px;
    font-size: 12px;
    line-height: 320%;
  }
}

body {
  font-family: Mulish;
  overflow-y: scroll;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
/*# sourceMappingURL=style.css.map */