@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1126px;
  padding: 0 15px 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn__main {
  display: block;
  width: 147px;
  height: 50px;
  border-radius: 33px;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  font-weight: bold;
  font-size: 16px;
  line-height: 290%;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.btn__main:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0px 0px 10px 2px #a90ed457;
          box-shadow: 0px 0px 10px 2px #a90ed457;
}

.link {
  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
  color: #001a49;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 640px;
  margin: 0 auto;
}

@media (max-width: 319.98px) {
  .nav {
    display: block;
  }
}

.nav__link a {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: #4f596a;
}

@media (max-width: 319.98px) {
  .nav__link a {
    font-size: 20px;
  }
}

.nav__link a:hover {
  color: #aa0ed4;
}

.nav__link-head a {
  font-weight: bold;
}

.nav__link-head a:hover {
  color: #4f596a;
}

.title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 46px;
  line-height: 122%;
  color: #001a49;
}

.intro__title {
  font-size: 60px;
  margin-bottom: 20px;
}

.subtitle {
  font-family: Mulish;
  font-size: 20px;
  line-height: 150%;
  color: #4f596a;
}

.intro__subtitle {
  margin-bottom: 40px;
}

.header {
  width: 100%;
  position: relative;
  height: 60px;
  background: linear-gradient(360.11deg, #cb10ff02 8.75%, #a006ff81 88.63%);
}

.header .header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.header .header__content .content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header__content .content__links .content__header-logo {
  margin-right: 50px;
}

@media (max-width: 767.98px) {
  .header .header__content .header__link {
    display: none;
  }
}

.header .header__content .header__link:not(:last-child) {
  margin-right: 50px;
}

.header .header__content .header__link:hover {
  color: #aa0ed4;
}

.header .header__content .content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 999.98px) {
  .header .header__content .content__buttons {
    display: none;
  }
}

.burger__trigger {
  display: none;
}

@media (max-width: 999.98px) {
  .burger__trigger {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5%;
    bottom: 14%;
  }
  .burger__trigger:before {
    content: "";
    display: block;
    top: 0;
    width: 30px;
    height: 3px;
    background-color: #aa0ed4;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .burger__trigger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #aa0ed4;
    margin-top: 8px;
  }
  .burger__trigger:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #aa0ed4;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .active {
    cursor: pointer;
    width: 25px;
    height: 25px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  .active:before {
    content: "";
    display: block;
    top: 0;
    width: 30px;
    height: 3px;
    background-color: #aa0ed4;
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    margin-top: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .active span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #aa0ed4;
    margin-top: 12px;
    opacity: 0;
  }
  .active:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #aa0ed4;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    margin-bottom: 13px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.burger__body {
  overflow: auto;
  width: 100%;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  background: linear-gradient(360.11deg, #a006ff81 7.63%, #cb10ff02 85.75%);
  position: absolute;
  z-index: 1000;
}

.burger__content {
  padding: 10px;
  padding-top: 20px;
}

.burger__content .content__links {
  display: none;
  text-align: center;
  margin-bottom: 5%;
}

@media (max-width: 767.98px) {
  .burger__content .content__links {
    display: block;
  }
}

.burger__content .content__links .header__link {
  display: block;
  font-size: 20px;
  line-height: 30px;
}

.burger__content .content__links .header__link:not(:last-child) {
  margin-right: 4%;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
}

.intro__block {
  max-width: 522px;
}

.block__students {
  margin-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__student-img:not(:last-child) {
  margin-right: -3%;
}

.block__students-text {
  margin-left: 5%;
  font-family: Mulish;
  font-size: 16px;
  line-height: 150%;
  padding-top: 3%;
  color: #4f596a;
}

.block__students-text span {
  color: #9f07ff;
}

.intro__video {
  position: absolute;
  right: 0;
  width: 590px;
  height: 360px;
  background: #001a49;
  -webkit-box-shadow: 0px 32px 44px #818a8c;
          box-shadow: 0px 32px 44px #818a8c;
  border-radius: 20px 0px 0px 20px;
  z-index: 2;
}

.intro__bg {
  width: 76%;
  background: #fbf2ff;
  border-radius: 0px 20px 20px 0px;
  height: 100%;
}

body {
  font-family: Mulish;
  overflow-y: scroll;
  height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
/*# sourceMappingURL=style.css.map */