//=========<Кнопки>======================

.btn__main {
	display: block;
	width: 147px;
	height: 50px;
	border-radius: 33px;
	background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
	font-weight: bold;
	font-size: 16px;
	line-height: 290%;
	color: #ffffff;
	text-align: center;
	transition: all linear 0.3s;
}
.btn__main:hover {
	transform: scale(1.01);
	box-shadow: 0px 0px 10px 2px #a90ed457;
}
.btn__sign-in {
}
.link {
	font-weight: bold;
	font-size: 16px;
	line-height: 125%;
	color: #001a49;
}
//=========<Кнопки>======================

// НАВИГАЦИЯ
.nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 640px;
	margin: 0 auto;
	@media (max-width: $md4) {
		display: block;
	}
}
.nav__column {
}
.nav__link {
	a {
		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 200%;
		color: #4f596a;
		@media (max-width: $md4) {
			font-size: 20px;
		}
		&:hover {
			color: #aa0ed4;
		}
	}
}
.nav__link-head {
	a {
		font-weight: bold;
		&:hover {
			color: #4f596a;
		}
	}
}
// ТЕКСТ========================
.title {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 46px;
	line-height: 122%;
	color: #001a49;
}
.intro__title {
	font-size: 60px;
	margin-bottom: 20px;
}
.subtitle {
	font-family: Mulish;
	font-size: 20px;
	line-height: 150%;
	color: #4f596a;
}
.intro__subtitle {
	margin-bottom: 40px;
}
