.header {
	width: 100%;
	position: relative;
	height: 60px;
	@media (max-width: $md1) {
		background: linear-gradient(360.11deg, #cb10ff02 -12.25%, #a006ff81 88.63%);
		position: fixed;
		z-index: 10;
	}
	.header__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 5px;
		.content {
		}
		.content__links {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.content__header-logo {
				margin-right: 50px;
			}
		}
		.header__link {
			@media (max-width: $md2) {
				display: none;
			}
			&:not(:last-child) {
				margin-right: 50px;
			}
			&:hover {
				color: #aa0ed4;
			}
		}
		.content__buttons {
			display: flex;
			align-items: center;
			@media (max-width: $md1) {
				display: none;
			}
		}
	}
}
