.header {
	width: 100%;
	position: relative;
	.header__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 5px;
		.content {
		}
		.content__links {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			.content__header-logo {
				margin-right: 50px;
			}
		}
		.header__link {
			&:not(:last-child) {
				margin-right: 50px;
			}
			&:hover {
				color: #aa0ed4;
			}
		}
		.content__buttons {
			display: flex;
			align-items: center;
			@media (max-width: $md1) {
				display: none;
			}
		}
	}
}
