.instructor {
	height: 622px;
	padding-top: 124px;
}
.instructor__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: $md1) {
		display: block;
	}
}
.instructor__text-block {
	max-width: 515px;
}
.instructor__logo-block {
	position: relative;
	width: 420px;
	height: 382px;
}
.circle__yellow-instructor {
	position: absolute;
	top: 40px;
	left: -25px;
	z-index: 1;
}
.circle__photo {
	width: 354px;
	height: 354px;
	position: absolute;
	overflow: hidden;
	top: 55px;
	cursor: pointer;
	z-index: 2;
	&:hover {
		.logo-block__photo {
			transform: scale(1.1);
		}
	}
}
.logo-block__photo {
	position: absolute;
	top: 30px;
	left: 0px;
	transition: all 0.6s ease;
}

.circle__under-photo {
	position: absolute;
	width: 132px;
	height: 132px;
	opacity: 0.3;
	bottom: -40px;
	right: 25px;
	z-index: 1;
}
