.intro {
	position: relative;
	height: 670px;
	@media (max-width: $md1) {
		height: auto;
	}
}
.intro__content {
	padding-top: 134px;
	padding-bottom: 30px;
	display: flex;
	position: relative;
	@media (max-width: $md2) {
		display: block;
	}
	@media (max-width: $md4) {
		padding-top: 15px;
	}
}
.intro__block {
	max-width: 522px;
}
.intro__title {
	font-size: 60px;
	margin-bottom: 20px;
	@media (max-width: $md4) {
		font-size: 35px;
	}
}
.intro__subtitle {
	margin-bottom: 40px;
}
.block__students {
	margin-top: 74px;
	display: flex;
}
.block__student-img {
	&:not(:last-child) {
		margin-right: -3%;
	}
}
.block__students-text {
	margin-left: 5%;
	font-family: Mulish;
	font-size: 16px;
	line-height: 150%;
	padding-top: 3%;
	color: #4f596a;
	span {
		color: #9f07ff;
	}
}
.intro__video {
	width: 500px;
	height: 300px;
	display: flex;
	flex-shrink: 0.5;
	margin-left: 90px;
	flex-direction: column;
	align-items: center;
	background: #001a49;
	box-shadow: 0px 32px 44px #818a8c;
	border-radius: 20px;
	z-index: 2;
	@media (max-width: $md1) {
		height: 230px;
	}
	@media (max-width: $md2) {
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
		box-shadow: none;
	}
}
.intro__btn {
	margin-top: 120px;
	transition: transform 0.3s ease;
	cursor: pointer;
	border-radius: 50%;
	&:hover {
		transform: scale(1.1);
		box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.274);
	}
	@media (max-width: $md1) {
		margin-top: 80px;
	}
}
.intro__bg {
	position: absolute;
	width: 76%;
	background: #fbf2ff;
	border-radius: 0px 20px 20px 0px;
	height: 100%;
	z-index: -1;
	@media (max-width: $md1) {
		width: 100%;
		border-radius: 0px;
	}
}
