.questions {
	padding-top: 106px;
}
.title__questions {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 144px;
}
.qustions__spoilers {
	max-width: 850px;
	margin: 0 auto;
}

.spoilers__spoiler {
	max-width: 850px;
	height: auto;
	background-color: white;
	border-radius: 21px;
	border: 1px solid #f1ceff;
	padding: 26px 41px 47px 36px;
}

.spoiler__title-triger {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 20px;
	line-height: 120%;
	margin-bottom: 7px;
}
.spoiller__arrow {
	display: inline-block;
	text-align: center;
	width: 48px;
	height: 48px;
	font-size: 40px;
	line-height: -1;
	transform: rotate(90deg);
	padding-top: 8.5px;
	background: linear-gradient(35.71deg, #ffd7a9 9.11%, #f5e5d9 71.64%);
	border-radius: 50%;
	color: #9f06ff;
}
.spoiler__body {
}
.spoiler__content {
	.spoiler__content-text {
		font-family: Mulish;
		font-size: 16px;
		line-height: 162%;
		color: #4f596a;
	}
}
