.reviews {
	width: 100%;
	height: 806px;
	padding-top: 120px;
	background: linear-gradient(44.11deg, #cd10ff 15.75%, #cd10ff 15.76%, #9f06ff 84.63%);
}
.reviews__text-block {
	max-width: 560px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 100px;
}
.title__reviews {
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}
.subtitle__reviews {
	text-align: center;
	color: #fff;
}
