.slider__container {
	width: 550px;
	height: 330px;
	margin: 0 auto;
	@media (max-width: $md2) {
		width: 440px;
		height: 280px;
	}
	@media (max-width: $md3) {
		width: 300px;
		height: $sliderHeight;
	}
}
.reviews__slider {
	display: flex;
	transition: 2s;
}
.slider__slide {
	width: 100%;
}
.slider__content {
	padding: 0 10px 0 10px;
}
.slider__block {
	width: 530px;
	height: 100%;
	background: rgba(76, 0, 112, 0.195968);
	border-radius: 20px;
	padding: 50px 40px 40px 50px;
	@media (max-width: $md2) {
		width: 420px;
		height: 280px;
	}
	@media (max-width: $md3) {
		width: 400px;
		height: 280px;
	}
	@media (max-width: $md3) {
		width: 280px;
		padding-top: 30px;
		height: $sliderHeight;
	}
}
.slider__block-text {
	font-family: Mulish;
	font-size: 20px;
	line-height: 25px;
	color: #fff;
	margin-bottom: 30px;
	@media (max-width: $md2) {
		font-size: 15px;
	}
}
.slider__block-author {
	display: flex;
	color: #fff;
}
.block-author-img {
	border-radius: 50%;
	margin-right: 14px;
	cursor: pointer;
	overflow: hidden;
	img {
		transition: transform 0.5s ease;
		&:hover {
			transform: scale(1.2);
		}
	}
}
.block-author-info {
	padding-top: 9px;
	line-height: 150%;
}
.block-author-info__name {
	font-weight: bold;
}
.block-author-info__sign {
}
.slider__buttons {
	display: flex;
	margin: 40px auto;
	justify-content: space-between;
	max-width: 300px;
	padding: 0 15px 0 15px;
}
.slider__button {
	font-size: 100px;
	background: none;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.486);
	transition: all 0.3s ease;
	&:hover {
		color: rgba(255, 255, 255, 0.753);
	}
	&:active {
		color: #9f06ff;
	}
}
