//=====<ПОДКЛЮЧЕНИЕ СТИЛЕЙ>=================
@import "_nullstyle";
@import "_settings";
@import "_form";
@import "_header";
@import "_burger";
@import "_intro";
@import "_curse";
@import "_instructor";
@import "_reviews";
@import "_slider";
@import "_questions";
@import "_spoiler";
@import "_ready";
@import "_footer";
//=====<ПОДКЛЮЧЕНИЕ СТИЛЕЙ>=================
body {
	font-family: Mulish;
	overflow-y: scroll;
	height: 100%;
}
.main {
	flex: 1 1 auto;
}
