//=====<ПОДКЛЮЧЕНИЕ СТИЛЕЙ>=================
@import "_nullstyle";
@import "_settings";
@import "_form";
@import "_header";
@import "_burger";
@import "_intro";
@import "_curse";
//=====<ПОДКЛЮЧЕНИЕ СТИЛЕЙ>=================
body {
	font-family: Mulish;
	overflow-y: scroll;
	height: 100%;
}
.main {
	flex: 1 1 auto;
}
